.dog-list-container {
  margin-left: 78px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.dog-image {
  width: 300px;
  height: auto;
}

.go-back-link {
  color: rgb(73, 72, 72);
}