.dogs-list-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

body {
  background-color: lightskyblue;
}

.dogs-list-heading {
  margin-left: 78px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
  font-weight: bold;
}

.dogs-image {
  width: 300px;
  height: auto;
}
